<!DOCTYPE html>
<html ng-app="arrayApp">
<head>
	<title>Array Assigment</title>
	<link href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div>
	<div>
		<div ng-init="student=[1,2,3,4]">
		<div class="well" ng-repeat="pointer in student">
			{{pointer}}
		</div>	
		</div>
	</div>
	<div ng-controller="arrayCntrl">
		<div class="bg-danger" ng-repeat="pointer in students">
			{{pointer}}
		</div>
		<div class="text-danger" ng-repeat="pointer in studentinfo">
			{{pointer.firstname}} {{pointer.lastname}}
		</div>
		<div class="well" ng-repeat="pointer in person">
			{{pointer.firstname}} {{pointer.lastname}}
		</div>
	</div>
</div>
</body>
<script src="../../bootstrap-3.3.7-dist/js/jquery-3.1.1.min.js"></script>
<script src="../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../../angular-1.6.2/angular.min.js"></script>
<script src="arraymodule.js"></script>
<script src="arraycontroller.js"></script>
</html>